*{
  margin: 5px;
  box-sizing: border-box;
}

body{
  height: 95vh;
  background-color: #660000;
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

/*Esta seccion abarca el header*/

header{
  background-color: #1B1B1B;
  padding:30px;
  height: 150px;
}
h1{
  color: #660000;
}

nav{
  width: 100%;
}

nav div{
  text-align: center;
  font-size: large;
  font-weight: bold;
  display: inline-block;
  width: 24%;
  padding: 18px;
}

nav div:hover {
  background-color: rgb(68, 66, 66);
  height: 50px;
}

a:active
{
  background-color:#660000;
}

a{
  color: white;
  text-decoration: none;
}
/* Cuerpo Principal*/
.main{
  display: flex;
  flex: 1;
}

.izquierda{
  background-color: #1B1B1B;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

main{
  background-color: #1B1B1B;
  padding: 3em 0 3em 0;
  flex: 5 5 150px;
}

.derecha{
  background-color: #1B1B1B;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

footer{
  background-color: #1B1B1B;
  padding: 1em 0 1em 0;
}

@media all and (max-width: 550px){
  .main{
    flex-direction: column;
  }
  main{
    padding: 5em 0 5em 0;
  }
}